<br>
<h3>Create a Support Ticket</h3>
<mat-tab-group>
    <form name="form">
        <mat-tab label="Navigate"></mat-tab>
        <p class="search-form">
            <!-- <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select [(ngModel)]="formData.category" required name="NavigateIssue">
                    <mat-option *ngFor="let issue of categories" value={{issue.label}}>{{issue.label}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <!-- <select style="height: 34px;width: 170px;" [(ngModel)]="formData.category" 
                required>
                <option *ngFor="let issue of categories" value={{issue.label}}>{{issue.label}}</option>

            </select> -->
           
        </p>

    </form>
</mat-tab-group>