<mat-tab-group mat-align-tabs="center" class="search-container">
    <mat-tab label="Applications">
        <div>
            <a class="search-anchor" href="
            https://dev.encompass.gehealthcare.com/findit/" target="_blank">
                <button mat-raised-button color="primary" class="search-appbtn">
                    <div class="search-icons">
                        <i class="fas fa-dragon"></i>
                    </div>
                    <p class="app-name">FindIt</p>
                </button>
            </a>

            <a class="search-anchor" href="
            https://dev.encompass.gehealthcare.com/manageit/" target="_blank">
                <button mat-raised-button color="primary" class="search-appbtn">
                    <div class="search-icons">
                        <i class="fa fa-cart-plus custom"></i>
                    </div>
                    <p class="app-name">ManageIt</p>
                </button>
            </a>

            <a class="search-anchor" href="
            https://dev.encompass.gehealthcare.com/navigate/" target="_blank">
                <button mat-raised-button color="primary" class="search-appbtn">
                    <div class="search-icons">
                        <i class="fa fa-cogs custom"></i>
                    </div>
                    <p class="app-name">Encompass Navigate</p>
                </button>
            </a>

            <a class="search-anchor" href="
            https://dev.encompass.gehealthcare.com/site-builder/" target="_blank">
                <button mat-raised-button color="primary" class="search-appbtn">
                    <div class="search-icons">
                        <i class="fa fa-eye custom"></i>
                    </div>
                    <p class="app-name">iCenter</p>
                </button>
            </a>
        </div>
    </mat-tab>
    <mat-tab label="Support Form">Support Form</mat-tab>
</mat-tab-group>